div *{ /* ?'*' == selects everything, and sets the margin of all elements to 0. */
  margin: 0;
  padding: 0;
  font-family: 'whyte';
  box-sizing: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    background-color: whitesmoke;
    border: 5px;
}  

main {
  padding-top: 200px;
}


hr {
  border: 0.01px solid transparent;
  border-color: black transparent;
  margin-top: 608px; 
  margin-left: 200px; 
  margin-right: 100px; 
  padding-right: 20px;
}
.logo img {
  border: 2px solid transparent;
  width: 120px;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 200px;
  position: fixed;
  user-select: none;
  float: left;
  
}

/*!-----------------Horizontal Navigation bar-----------------*/

.horNav {
  border: 0.01px solid transparent; /* ?.01px == "the size", solid == "color", ##transparent */
  border-color: black;
  background: transparent;
  margin-top: 28px; 
  margin-left: 40px;
  height: 70px;
  width: 94%;
  position: fixed;
}
.horNav ul {
  margin-right: 30px;
  margin-left: 190px;
  margin-top: 10px;
  display: flex; 
  list-style: none;
  align-items: center;
  user-select: none;
  float: left;
  gap: 40px;
  
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font: whyte-medium;
  font-weight: 200; /* Bold changer */
  margin-bottom: 170px;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: black;
  margin: 10px 0;
  transition: 0.5s;
}

.link:hover::after {
  width: 100%;
}

.nav-t-l-name {
  font-weight: 400;
}

.nav-t-l-no {
  font-size: large;
  margin-left: 6px;
  font-weight: 400;
}

.nav-t-l-no {
  display: block;
}

.nav-t-l-2 {
  font-size: 20px;
  position: absolute;
  right: 0; /* */
  top: 0;
  margin-top: 20px;
  margin-right: 100px;
}

/*!----------------- Vertical Navigation bar-----------------*/

.verNav { /* ?To Customize the vertical Nav */
  border: 0.01px solid transparent; /* ?.01px == "the size", solid == "color", ##transparent*/
  border-color: #343434;
  background: transparent;
  position: fixed; /* ?sticks the Nav */
  margin-top: 28px; 
  margin-left: 40px;
  height: 92.8%; /* ?bottom spacing */
  width: 90px;
}
.verNav ul { /* ?To move the icons*/
  float: left;
  position: fixed;
  padding-left: 80px;
  padding-bottom: 50px;
  list-style-type: none;
  left: 0;
  bottom: 0;
  
}
.verNav ul li {
  font-size: larger;
  margin-top: 30px;
}
.verNav ul li a { /* ?To Customize the Icons */
  color: black;
  bottom: 5px;
}

.verNav ul li a:hover {
  color: rgba(44, 43, 43, 0.424);
  transform: translateY(-5px); /* Moves the icon up 5px */
  transition: 0.5s; /* controls the speed of the transform and other motion or change any change */
}